* {
    margin: 0;
    padding: 0;
}

.container > div {
    outline: 1px solid #000000;
}

/** Container Grid */

.container {
    height: 100vh;
    width: 100vw;
    min-width: 1165px;
    display: grid;
    grid-template: repeat(5, minmax(150px, 1fr)) / repeat(5, minmax(160px, 1fr)); 
}

.header {
    grid-column: 2 / end;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / end;
}

.main {
    grid-column: 2 / end;
    grid-row: 2 / end;
}

/** Sidebar Grid */
.sidebar {
    display: grid;
    grid-template: 1fr 3fr 5fr / 1fr;

    justify-items: start;
    align-items: center;

    padding: 20px;

    background-color: rgb(15, 168, 219);
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section1 {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr;
    gap: 15px;
}

.section2 {
    align-self: start;
    margin-top: 50px;

    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr;
    gap: 15px;
}

/** Header Grid */
.header {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
}

/** Bottom half of header */

.bottomhead {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    padding-left: 10px;

    min-width: 725px;
}

.hello {
    display: flex;
    gap: 10px;
    justify-self: center;
    align-self: center;
    min-width: 445px;
}

.share button {
    width: clamp(100px, 25%, 125px);
    height: 45px;

    font-size: large;
    background-color: rgb(15, 168, 219);
    color: white;

    border: none;
    border-radius: 100px;
}

.share {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    min-width: 475px;
}

.share button:hover {
    transform: translateY(-2px);
}

.share button:active {
    transform: translateY(0);
}

/** Top half of header */

.tophead {
    display: grid;
    grid-template: 1fr / 2fr 1fr;
}

.topleft {
    justify-self: center;
    align-self: center;
    position: relative;
}

.topleft button {
    background: none;
    border: none;
}

.topleft button:hover,
.topright button:hover {
    cursor: pointer;
}

.topleft button:active,
.topright button:active {
    transform: translateY(1px);
}

.topleft > button > img {
    position: absolute;
    bottom: 1px;
    left: -35px;
}

input[type='search'] {
    border-radius: 100px;
    height: 30px;
    width: max(325px, 40vw);
    padding: 0 1rem;
}

.topright {
    display: grid;
    grid-template: 1fr / 50px 50px 200px;
    gap: 8px;

    justify-self: center;
    justify-items: center;
    align-items: center;
}

.topright > button {
    border: none;
    background: none;
}

/** Main Grid */
.main {
    background-color: lightgray;
    padding: 20px;
    
    display: grid;
    grid-template: 100% / 2.5fr 1fr;
}

/** Right side of main */

.rmain {
    display: grid;
    grid-template: 2rem 1fr 2rem 1fr / 1fr;
    gap: 10px;
}

/** Announcements */

.announce {
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    width: 40ch;
}

.dummytxt {
    font-size: 16px;
}

.announce h4 {
    padding: 10px 0;
}

.hr {
    padding-bottom: 10px;
}

/** Trending */ 

.trend {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    height: 150px;
    width: 300px;

    display: grid; 
    grid-template: 1fr 1fr/ 1fr;
    gap: 10px;

}

.trend1,
.trend2 {
    display: grid;
    grid-template: 1fr / 50px 1fr;
    align-self: center;
}